.page_title{
    position: absolute;
    left:0px;
    right:0px;
    text-align: center;
    color: rgb(247, 248, 255);  
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    font-weight:bold ;
    top: 100px;
    width:1300px;
  }
.event_list{
 position:relative;
 top:150px;
}
