.topnav {
    overflow: hidden;
    background-color: rgba(7, 15, 31, 0.767);
    height: 80px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
.clock {
    position: absolute;
    top: 55px;
    left: 115px;
    color: rgba(223, 214, 97, 0.938);
    font-size: 18px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
.topnav a {
    /* float: right;
    display: block;
    color: #6b6969;
    text-align: center;
    padding: 25px 16px 15px 15px;
    text-decoration: none;
    font-size: 17px;
    height:100%; */

    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    /* color: #5bcbfff6; */
    background-color: rgba(8, 37, 94, 0.425);
    color: #4388e2;
}

.topnav a.active {
    /* background-color: #4e524f; */
    background-color: #4388e2;

    color: white;
}
.topnav a.active:hover {
    background-color: rgba(8, 37, 94, 0.425);
    color: #5bcbfff6;
}
.topnav .icon {
    display: none;
}

.dropdown {
    display: inline-block;
}
.dropdown:hover {
    cursor: default;
}

.dropdown_content {
    transform: translate(-90px, 20px);
    display: none;
    position: absolute;
    background: #5653f3;
    color: #f9f9f9;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown_content div {
    float: right;
    display: block;
    color: #f5efef;
    text-align: center;
    padding: 10px 16px 15px 15px;
    text-decoration: none;
    font-size: 16px;
    height: 100%;
}
.dropdown_content div:hover {
    cursor: pointer;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.top2 {
    position: relative;
    background-color: rgba(7, 15, 31, 0.767);
    height: 80px;
    min-width: 1450px;
}
.logo {
    position: absolute;
    top: 20px;
    left: 30px;
}
.name {
    color: rgb(235, 240, 245);
    font-size: 35px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
.login:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.75);
    justify-content: center;
    align-items: center;
}
.modal-content {
    position: fixed;
    background: black;
    width: 450px;
    top: 50px;

    min-height: 600px;
    border-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 1;
    border-radius: 15px;
    padding: 0px;
}
