.discussion_body {
    position: relative;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background: rgb(7, 15, 31);
    margin: 0 auto;
    top: 50px;
    width: 1250px;
    min-width: 100%;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: -1rem 0rem 3rem #000;
    display: flex;
    flex-direction: column;
}
.comment {
    position: relative;
    width: 100%;
    text-align: right;
    font-size: 25px;
    color: rgb(255, 250, 250);
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
}
.date {
    top: 0px;
    left: 0px;
    font-size: 15px;
    color: rgb(88, 86, 86);
}
.hl {
    top: 50px;
    border-bottom: 1px solid rgb(57, 58, 57);
    width: 100%;
}
.details {
    width: 500px;
    height: 30px;
    padding: 0.5rem;
}

.username {
    height: 20px;
    left: 3px;
    font-size: 15px;
    color: rgb(160, 119, 42);
}
.category {
    left: 3px;
    font-size: 15px;
    color: rgb(102, 100, 97);
}
.content {
    top: 0px;
    padding: 1rem;
    padding-top: 2rem;
    padding-left: 0px;
    font-weight: normal;
    height: 100%;
}
.editor {
    top: 0px;
    padding: 0rem;
    font-weight: normal;
    min-height: 200px;
    border-radius: 10px;
    background-color: rgb(167, 168, 170);
}
.conversation {
    padding: 1rem;
    padding-left: 0px;
    align-items: left;
    display: flex;
    flex-direction: column;
}
.conversation > div > textarea {
    width: 100%;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0.5px;
    border-bottom-color: rgb(56, 56, 55);
    font-size: 15px;
    font-weight: normal;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 80px;
    resize: none;
}
.comment-area {
    display: block;
}
.comment-btn {
    width: fit-content;
    position: relative;
    float: right;
    height: 30px;
    color: azure;
    background-color: #112246;
}
.control > input {
    width: 100%;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0.5px;
    border-bottom-color: rgb(56, 56, 55);
    font-size: 15px;
    font-weight: normal;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 40px;
}
.control {
    background-color: rgb(7, 15, 31);
    width: 400px;
    height: 25px;
    top: 10px;
    color: ivory;
}
.reply {
    font-weight: normal;
    margin-left: 10px;
    border-left: 1px solid rgb(57, 58, 57);
    border-bottom: 1px solid rgb(57, 58, 57);
    padding-left: 1rem;
}
.question {
    top: 20px;
    width: 100%;
    padding-top: 2rem;
}
.question > input {
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 40px;
}
.input {
    background-color: rgb(167, 168, 170);
    width: 98.5%;
    height: 50px;
    top: 10px;
    color: rgb(39, 53, 180);
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-radius: 15px;
}
.question > label {
    color: khaki;
}
/* .title {
    text-align: center;
} */
.title {
    top: 0px;
    color: rgb(255, 242, 242);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
.bottom {
    width: 98.5%;
    height: 100%;
    padding-top: 1rem;
    border-top: 0.1px solid khaki;
}
.bottom > button {
    width: 100%;
    height: 40px;
}

.mtopdiscuss {
    margin-top: 30px;
}
.image-discuss {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    display: inline-block;
}
.tags-discuss {
    position: relative;
    top: -10px;
    font-size: 12px;
    border-style: ridge;
    border-radius: 5px;
    border-width: thin;
    display: inline;
    margin-left: 5px;
    padding: 2px;
}
.text-discuss {
    font-size: 18px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
        sans-serif;
    font-weight: lighter;
}
.search-discuss {
    margin-left: 589px;
    position: relative;
    top: -49px;
}
.search-d input[type="text"] {
    text-align: left;
    margin-left: 150px;
    margin-top: 10px;
    padding: 16px;
    background: none;
    border-style: double;
    font-size: 17px;
    border-radius: 25px;
    border-color: rgb(7, 15, 31);
    width: 500px;
    height: 50px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: rgb(15, 153, 158);
}
.title-discuss {
    text-align: center;
    color: rgb(247, 248, 255);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    top: 100px;
}
