@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary {
        width: 67%;
    }
    #secondary {
        width: 30%;
        margin-left: 3%;
    }
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary {
        width: 100%;
    }
    #secondary {
        width: 100%;
        margin: 0;
        border: none;
    }
}
* {
    box-sizing: border-box;
}

body {
    background: #01020e;
    /*background-image: url(logo.png);*/
    background-repeat: no-repeat;
    font-weight: 600;
    color: white;
    top: 0px;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #01020e;
    border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(0deg, rgb(7, 233, 233), rgb(7, 22, 88));
}
a {
    color: #0070f3;
    text-decoration: none;
    transition-property: background-color;
}

img {
    max-width: 100%;
    display: block;
}

.line1 {
    position: absolute;
    top: 70px;
    width: 1370px;
    right: 0px;
    height: 3px;
}
.line2 {
    position: relative;
    width: 1250px;
    height: 5px;
    left: -150px;
    right: 50px;
    border-radius: 5px;
    border-style: none;
}
.line3 {
    position: relative;
    width: 25%;
    height: 3px;
    border-radius: 5px;
    border-style: none;
}
.h2-line {
    font-weight: bolder;
    font-size: 25px;
    color: rgb(30, 138, 35);
}
.middle-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.middle-wrapper {
    width: 1000px;
    height: 600px;
    margin: auto;
    position: absolute;
    top: 75px;
    right: 325px;
    padding: 40px 55px 45px 55px;
    border-radius: 1px;
    transition: all 0.3s;
}

h1 {
    font-weight: 300;
    font-size: larger;
    font-family: "Fira Sans", sans-serif;
    font: rgb(46, 101, 202);
}
h2,
h3,
h4,
h5,
h6,
span {
    font-weight: 500;
    font-size: larger;
    font-family: "Fira Sans", sans-serif;
}
label {
    font-weight: 500;
    font-size: larger;
    font-family: "Fira Sans", sans-serif;
    float: left;
}
hr {
    background-image: linear-gradient(90deg, rgb(15, 153, 158), rgb(7, 22, 88));
    height: 2.5px;
    border-color: transparent;
}

.form-group {
    border-radius: 2px;
}

.login-input-pos {
    position: relative;
    top: 30px;
    height: 200px;
}

html {
    scroll-behavior: smooth;
}
.auth-body {
    width: 250px;
    margin: auto;
    background: rgb(230, 240, 233);
    position: fixed;
    top: 75px;
    left: 0px;
    box-shadow: 0px 5px 30px rgba(173, 182, 176, 0.733);
    border-radius: 0px;
    transition: all 0.3s;
}
.column {
    float: left;
    width: 24.6%;
    padding: 15px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.fas {
    font-size: 45px;
    color: rgb(163, 173, 16);
}
.fa-key,
.fa-envelope {
    font-size: 15px;
    color: rgb(8, 185, 76);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.fa-home,
.fa-wifi,
.fa-file,
.fa-id-card,
.fa-pen,
.fa-book,
.fa-users,
.fa-lock,
.fa-phone-volume {
    font-size: 23px;
    color: rgb(15, 153, 158);
    background-size: 100%;
    background-image: linear-gradient(0deg, rgb(7, 22, 88), rgb(15, 153, 158));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-control-label {
    font-weight: 400;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: #eaeff5;
    float: left;
}

.custom-control-input {
    size: 1pt;
    float: left;
}

.forgot-password,
.forgot-password a {
    position: relative;
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #feffff;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    margin: 0;
}

.forgot-password,
.btn-link {
    color: rgb(217, 234, 238);
    font-size: small;
}
.btn-link {
    position: relative;
    float: right;
    top: 45px;
}
.choice {
    position: relative;
    float: left;
    left: -100px;
    width: 100%;
    top: 40px;
    font-weight: normal;
    font-size: 13px;
    color: #1ef390;
}
.title {
    top: 0px;
    color: rgb(255, 242, 242);
    font-size: 30px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
.form-label {
    position: relative;
    left: -30px;
    color: rgb(226, 230, 231);
    font-size: bold;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-weight: lighter;
}
.form-control {
    position: relative;
    width: 400px;
    height: 40px;
    left: -30px;
    border-style: none;
    border-radius: 15px;
    background-color: rgb(190, 196, 196);
}
.custom-control {
    position: relative;
    left: -30px;
}
.custom-control-label {
    position: relative;
    left: -30;
    color: rgb(244, 246, 247);
    font-size: small;
}

.logo {
    position: absolute;
    top: 20px;
    left: 30px;
}
.name {
    color: rgb(235, 240, 245);
    font-size: 35px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.about-description {
    position: absolute;
    top: 1200px;
    width: 1300px;
    right: 15px;
    left: 50px;
    height: 200px;
    border-radius: 10px;
    float: left;
}

.connect-body {
    position: absolute;
    top: 1500px;
    left: 0px;
    right: 0px;
    height: 200px;
    min-width: 1200px;
}
@media screen and (max-width: 600px) {
    .connect-body {
        left: 80px;
    }
    .connect-text {
        margin-left: 100px;
    }
}
#left {
    float: left;
    width: 100px;
}
#right {
    float: right;
    width: 100px;
}
#center {
    margin: 0 auto;
    width: 200px;
}
.connect-text {
    top: 50px;
    width: 150px;
    margin-left: 80px;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    background-size: 100%;
    background-image: linear-gradient(90deg, rgb(15, 153, 158), rgb(7, 22, 88));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.sub {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: #676b69;
    font-size: 18px;
    background-image: none;

    -webkit-text-fill-color: rgb(87, 84, 84);
}
.grad-text {
    font-size: 20px;
    font-weight: bold;
    background-size: 100%;
    background-image: linear-gradient(90deg, rgb(15, 153, 158), rgb(7, 22, 88));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.login-pos {
    position: relative;
    top: 10px;
    left: -30;
}
.btn-block {
    position: relative;
    left: -30px;
    border-radius: 15px;
    width: 400px;
    height: 40px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.btn-primary {
    background-image: linear-gradient(90deg, rgb(15, 153, 158), rgb(7, 22, 88));
}
.vl {
    position: absolute;
    right: -10px;
    top: -20px;
    border-right: 1px solid rgb(57, 58, 57);
    height: 80px;
}
.vl1 {
    position: absolute;
    top: -20px;
    right: 90px;
    border-right: 1px solid rgb(57, 58, 57);
    height: 80px;
}
.fa-cloud {
    font-size: 60px;
    color: rgb(15, 153, 158);
    background-size: 100%;
    background-image: linear-gradient(0deg, rgb(7, 22, 88), rgb(255, 255, 255));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*input:focus,
textarea:focus,
select:focus {
  outline: none;
}*/
.search {
    position: absolute;
    top: 200px;
    left: 500px;
    text-align: center;
    width: 100px;
}
@media screen and (max-width: 600px) {
    .search {
        width: 1200px;
        left: 80px;
    }
    .search-btn {
        left: 796px;
    }
}
.search input[type="text"] {
    left: 0px;
    right: 0px;
    padding: 6px;
    background: none;
    border-style: double;
    font-size: 17px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-color: rgb(7, 15, 31);
    width: 350px;
    height: 50px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: rgb(15, 153, 158);
}
.search-category {
    position: absolute;
    top: 200px;
    float: right;
    left: 850px;
}
.fa-search {
    font-size: 23px;
    color: rgba(79, 79, 82, 0.767);
}
.search-btn {
    height: 46.5px;
    width: 60px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    /*background-image: linear-gradient(0deg,rgb(7, 22, 88),  rgb(15, 153, 158));*/
    background: rgba(7, 15, 31, 0.925);
}
/*Event title card */
.event-title-card {
    position: absolute;
    top: 4rem;
    width: 250px;
    height: 94%;

    border-radius: 20px;
}
.event-title-content {
    position: relative;
    top: 0rem;
    width: 100%;
    left: 0px;
    text-align: center;
    color: #06062e;
    font-weight: bold;
    font-size: 50px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: ivory;
}

.card-pos {
    position: relative;
    margin-left: -100px;
    left: 100px;
    top: 0.5rem;
    transition: 2s;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.card-pos:hover {
    top: -1rem;
    left: 50px;
    margin-right: 50px;
}
.events {
    position: absolute;
    top: 700px;
    width: 1300px;
    right: 15px;
    left: 50px;
    height: 500px;
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.event-group {
    position: absolute;
    top: 0px;
    left: 270px;
    width: 1025px;
    padding: 4rem;
    padding-top: 3rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    display: flex;
    height: 98%;
    overflow-y: hidden;
    scrollbar-width: thin;
}
.event-group::-webkit-scrollbar {
    width: 13px;
    height: 10px;
}
@media screen and (max-width: 600px) {
    .search input[type="text"] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .search input[type="text"] {
        border: none;
    }
}
.nav-pages-discussion {
    position: absolute;
    left: 0px;
    right: 0px;
    text-align: center;
    color: rgb(247, 248, 255);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    top: 100px;
}
.question-list {
    position: relative;
    top: 300px;

    border-color: white;
    border-style: groove;
    border-width: 1px;
    border-radius: 10px;
}

/* .username {
  position: relative;
  top: 5px;
  left: 3px;
  font-size: 15px;
  color: rgb(160, 119, 42);
} */

.event-title-card {
    position: absolute;
    top: 4rem;
    width: 250px;
    height: 94%;

    border-radius: 20px;
}
.event-title-content {
    position: relative;
    top: 0rem;
    width: 100%;
    left: 0px;
    text-align: center;
    color: #06062e;
    font-weight: bold;
    font-size: 50px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    color: ivory;
}

.event-card {
    position: relative;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    background: rgb(7, 15, 31);
    min-width: 300px;
    min-height: 400px;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: -1rem 0rem 3rem #000;
    display: flex;
    flex-direction: column;
}
.card-pos {
    position: relative;
    margin-left: -100px;
    left: 100px;
    top: 0.5rem;
    transition: 2s;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.card-pos:hover {
    top: -1rem;
    left: 50px;
    margin-right: 50px;
}
.events {
    position: absolute;
    top: 700px;
    width: 1300px;
    right: 15px;
    left: 50px;
    height: 500px;
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.event-group {
    position: absolute;
    top: 0px;
    left: 270px;
    width: 1025px;
    padding: 4rem;
    padding-top: 3rem;
    padding-right: 5rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    display: flex;
    height: 98%;
    overflow-y: hidden;
    scrollbar-width: thin;
}
.event-group::-webkit-scrollbar {
    width: 13px;
    height: 10px;
}
.event-group::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(
        to right,
        rgb(7, 22, 88),
        rgb(7, 233, 233)
    );
}
.avatar {
    position: relative;
    width: 70px;
    height: 70px;
    top: 15px;
    background-image: linear-gradient(
        to bottom,
        rgb(7, 233, 233),
        rgb(7, 22, 88)
    );
    border-radius: 50px;
    text-align: center;
}
.image-size1 {
    position: absolute;
    top: 1px;
    right: 1px;
    left: 1px;
    width: 60px;
    height: 60px;
    border-radius: 70px;
}
.image-size2 {
    position: relative;
    top: 0px;
    right: 1px;
    left: 1px;
    width: 300px;
    height: 270px;
    border-radius: 200px;
}
/* .image-size3 {
  position: relative;
  float: right;
  right: 15px;
  width: 55%;
  height: 50%;
} */

/*settings*/
.mnav {
    margin-top: 20px;
    padding: 3rem;
    background-color: rgb(7, 15, 31);
}
@media screen and (max-width: 600px) {
    .mnav {
        width: 1300px;
    }
}
.mset {
    margin-left: 200px;
}
.fa-camera {
    cursor: pointer;
    color: #6f797a;
}
/* Editor */
/* .ql-container {
  height: 100% !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.ql-toolbar{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.ql-editor {
  min-height: 200px !important;
}
.mask2 {
  -webkit-mask-image: radial-gradient(circle at 50% 50%, rgba(12, 13, 37, 0.021) 50%, rgba(70, 11, 11, 0.021) 50%);
  mask-image: radial-gradient(circle at 50% 60%, rgba(0, 0, 0, 0.13) 50%, rgba(0, 0, 0, 0) 50%);
} */

/*Home page image*/
.home-body {
    position: relative;
    float: right;
    right: 200px;
    width: 1000px;
    height: 350px;
}
@media screen and (max-width: 600px) {
    .home-body {
        width: 1300px;
        left: 1000px;
    }
}
.img-thumb {
    width: 100px;
    height: auto;
    float: left;
}
/*Profile*/
.namepr {
    color: rgb(235, 240, 245);
    font-size: 28px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}
.bio {
    word-wrap: break-word;
}
.fa-cogs {
    font-size: 26px;
    color: gray;
}
.uname {
    display: inline-block;
}
.fab {
    font-size: 26px;
}
.j1 {
    /*background-image: linear-gradient(45deg, #0b8793, #360033);*/
    background: rgb(3, 1, 40);
    background: linear-gradient(
        74deg,
        rgba(3, 1, 40, 1) 2%,
        rgba(8, 36, 83, 1) 39%,
        rgba(11, 65, 106, 1) 78%,
        rgba(2, 74, 89, 1) 100%
    );
}
.hr {
    /*background-image: linear-gradient(90deg, rgb(15, 153, 158), rgb(7, 22, 88));*/
    background-color: white;
    height: 0.5px;
    border-color: transparent;
    margin-left: 20px;
    margin-right: 20px;
}
.btn-see {
    position: relative;
    top: 20px;
}
.savedarticle {
    font-size: 28px;
}
.btn-vlg {
    width: 800px;
    height: 70px;
    margin: auto;
    font-size: 32px;
}
.card-addevent {
    background: rgb(3, 1, 40);
    background: linear-gradient(
        74deg,
        rgba(3, 1, 40, 1) 2%,
        rgba(8, 36, 83, 1) 39%,
        rgba(11, 65, 106, 1) 78%,
        rgba(2, 74, 89, 1) 100%
    );
    padding: 1%;
    border-radius: 8px;
    margin-bottom: 20px;
}
.ModalB {
    position: absolute;
    top: 80px;
    left: 400px;
    bottom: 120px;
    right: 400px;
    border: 1px #fff;
    background: rgb(7, 15, 31);
    overflow: "auto";
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    padding: 20px;
}
/* .Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
} */
/*Set reminder modal*/
.Modalreminder {
    position: absolute;
    top: 80px;
    left: 400px;
    bottom: 120px;
    right: 400px;
    border: 1px solid #ccc;
    background: #fff;
    overflow: "auto";
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    padding: 20px;
}
.Overlayreminder {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
}
/*Resourceslist*/
/* .title-resource {
  color: rgb(247, 248, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 35px;
  font-weight: bold;
  position: relative;
  top: 40px;
  left: 250px;
  margin-bottom: 100px;
} */
/* .resource-item {
  border-bottom-style: solid;
  border-bottom-color: white;
  border-radius: 3px;
  border-bottom-width: thin;
  padding: 15px;
}
.resource-item:hover {
  background: rgb(3, 1, 40);
  background: linear-gradient(
    74deg,
    rgba(3, 1, 40, 1) 2%,
    rgba(8, 36, 83, 1) 39%,
    rgba(11, 65, 106, 1) 78%,
    rgba(2, 74, 89, 1) 100%
  );
  color: black;
}
.text-link {
  text-decoration: none;
  word-wrap: break-word;
  color: white;
  font-size: 20px;
}
.text-link:hover {
  text-decoration: none;
  color: #dae0e2;
} */
