.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:none;
    background-position: center;
    background-repeat: no-repeat;
   
  }
  .switch {
    position: absolute;
    margin-top: 10px;
    top:30px;
    width: 450px;
    height:50px;
    background: rgb(7, 15, 31);
    background-image:linear-gradient(90deg,  rgb(15, 153, 158),rgb(7, 22, 88));
    display: flex;
    z-index: 1;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    }
  .right_side {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    background-image:linear-gradient(90deg,  rgb(15, 153, 158),rgb(7, 22, 88));
    width: 50%;
    position:absolute;
    top:0px;
    right: -34%;
    z-index: 1;
    padding:0px;
    transition: all 400ms ease-in-out;
    }
  .right {
    right: 0%;
    align-items: right;
    border-top-right-radius: 15px;
    background-image:linear-gradient(90deg,#0c4b8600,  rgb(7, 22, 88));
  }
  .left {
    right:50%;
    align-items: left;
    border-top-left-radius: 15px;
    background-image:linear-gradient(90deg,  rgb(15, 153, 158),#0c4b86a9);
  }
  .text {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight:bold;
    color: rgb(176, 178, 192);
    padding:0.5rem;
   
  }
  .inner_container{
    position: absolute;
    top:0px;
    padding:0px;
  }